[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew.git
[submodule "src/github.com/jhillyerd/enmime"]
	path = src/github.com/jhillyerd/enmime
	url = https://github.com/jhillyerd/enmime.git
[submodule "src/github.com/jaytaylor/html2text"]
	path = src/github.com/jaytaylor/html2text
	url = https://github.com/jaytaylor/html2text.git
[submodule "src/github.com/olekukonko/tablewriter"]
	path = src/github.com/olekukonko/tablewriter
	url = https://github.com/olekukonko/tablewriter.git
[submodule "src/github.com/mattn/go-runewidth"]
	path = src/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth.git
[submodule "src/github.com/ssor/bom"]
	path = src/github.com/ssor/bom
	url = https://github.com/ssor/bom.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://github.com/golang/text
